.body{
    display:absolute;
    padding-right:100px;
    padding: left 100px;
    background-color: rgb(255, 196, 221);
    text-align: center;
}
.title{
    text-wrap: nowrap;
    font-size: 225px;
    margin: 25px;
    background-color: rgb(75, 175, 221);
}
.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-text{
    padding:50px;
    font-size: 30px;
    text-wrap:nowrap;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    background-color: rgb(157, 157, 241);
}

.login-button{
    width: 100px;
    color:burlywood;

}

.login-button :hover{
    cursor: pointer;
    outline-color: white;
    outline: solid;
    outline-width: 1px;
    border-radius: 2px;
}

.button{
    background-color: black;
    width:100px;
}

.login{
    margin:50px;
}
