

.body{
    display:flex;
    position:sticky;
    padding: 10px;
    background-image: linear-gradient(rgb(0, 75, 145),rgb(66, 157, 199));
    justify-content: center;
    align-content: center;
    width:100%;
    height:1300px;
    border:none;
}
.triangle4{
    position: absolute;
    top:100px;
    right:100px;
    height: 5;
    width: 5;
    border-left: 100px solid rgba(85, 191, 233, 0.705);
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
}
.circle {
    position: absolute;
    right:70px;
    top:50px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(41, 108, 172),rgb(87, 196, 247))
}

.circle1 {
    position: absolute;
    left:70px;
    bottom:50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(87, 196, 247), rgb(41, 108, 172))
}

.circle2 {
    position: absolute;
    right:70px;
    top:50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(41, 108, 172),rgb(87, 196, 247))
}

.triangle {
    position: absolute;
    bottom:170px;
    right: 100px;
    height: 5;
    width: 5;
    border-left: 100px solid rgba(44, 160, 206, 0.507);
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
  }

  .triangle1{
    position: absolute;
    left:100px;
    height: 5;
    width: 5;
    border-right: 100px solid rgba(38, 141, 182, 0.356);
    border-left: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
  }

  .triangle2{
    position: absolute;
    bottom:100px;
    right:100px;
    height: 5;
    width: 5;
    border-right: 100px solid rgba(85, 191, 233, 0.705);
    border-left: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
  }
  .triangle3{
    position: absolute;
    top:200px;
    left:100px;
    height: 5;
    width: 5;
    border-left: 100px solid rgba(7, 118, 161, 0.719);
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
  }

  .title_background2{
    width: 400px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    position: relative;
    font-size: 200px;
    font-family:'Brush Script MT', cursive;
    color:rgb(0, 64, 92); 
    -webkit-text-stroke: 0.2vw rgb(6, 104, 146);
    
}

.title::before{
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    color:rgb(255, 255, 255);
    border-right: 2px solid white;
    overflow: hidden;
    animation: animate 6s linear infinite;
    -webkit-text-stroke: 0vw rgb(6, 104, 146);
}

@keyframes animate{
    0%,10%,100%
    {
        width:0;
    }
    70%, 90%
    {
        width:100%;
    }
}

.inner{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 71, 99);
    padding: 50px; 
    height: 750px;
    margin: 250px;
    width: 700px;
    border-radius: 10px;
    box-shadow: inset 5px 10px rgba(0, 0, 0, 0.651);
}
@font-face {
    font-family: myFirstFont;
    src: url(AntipastoPro_trial.ttf);
 }
.description{
    position: absolute;
    top:600px;
    right:450px;
    padding:25px;
    font-size: 25px;
    text-wrap: nowrap;
    text-align: center;
    font-family: myFirstFont;
    border-bottom:solid;
    border-color:rgb(160, 199, 199);
    color: rgb(196, 231, 231);
}

.login-button{
    position:absolute;
    top: 710px;
    left: 560px;
    width: 200px;
    background-color:rgb(0, 90, 126);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    height:max-content; 
    border:none;
}

.login-button :hover{
    cursor: pointer;
}

.button{
    width:200px;
    border-radius: 50px;
    align-self: center;
}

.title_background1{
    background-color: rgb(50, 131, 207);
    border-radius: 50px;
    padding:20px;
}


.login{
    display:flex;
    flex-direction: column;
    padding-top:50px;
}

.body1{
    background-image: linear-gradient(rgb(87, 196, 247), rgb(50, 131, 207));
    position :relative; 
}
